html,
body {
    margin: 0;
}

header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 55px;
    margin-bottom: 53px;
}

header>img {
    width: 24px;
    margin-right: 7px;
}

header>h1 {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Inter;
}

article.journal-entry {
    display: flex;

    margin-bottom: 36px;
}

/* good way to deal with imges put image in a container  
and specify the size of that conatainer and make image height width 100%
 poori image uss area mein aa jeygi*/

.main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

.main-image {
    height: 100%;
    width: 100%;
}