/* Reset defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292C;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 30px;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #27292C;
  box-shadow: 0px 2px 2px black;
  /* padding-left: 15px;
  padding-right: 15px; */
  padding:15px;

}

.nav-list {
  list-style: none;
  display: flex;

}

.nav-list-item {
  margin-left: 10px;
  font-size: 1.1rem;
}

.nav-logo {
  width: 55px;
  height: auto;
}

.Footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
